*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width:100%;
    padding: 20px;
    margin:0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #46A35880;
    padding-bottom: 10px;
}

.greenshop{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 34px;
}

.greenshop img{
    width:25px;
}
.greenshop h2{
    margin-top:5px;
    font-size: 20px;
    color:#46A358;
    font-weight: 700px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 45px;
}

.navbar h1{
   font-weight:700px;
    font-size: 16px;
    color:#3D3D3D;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 45px;
}

.searchbar img{
    width:25px;
    height:25px;
   margin: 4px 5px ;
   color:#7d7c7c;

   
}
.searchbar .logout{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 32px;
    background-color: #46A358;
    border-radius: 5px;


}
.searchbar .logout img{
   margin: 4px 5px ;
   width:20px;
  fill:#e9e4e4;

}

.searchbar .logout h1{
    font-size: 16px;
    color:#FFFF;
   margin: 4px 5px ;

}

