*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width:100%;
    padding: 20px;
    margin:0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.greenshop{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 34px;
}

.greenshop h2{
    
    font-size: 20px;
    color:#46A358;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 45px;
}

.navbar h1{
   font-weight:700px;
    font-size: 16px;
    color:#46A358;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 45px;
}

.searchbar .logout{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 45px;
}

.searchbar .logout h1{
    font-size: 20px;
    color:#46A358;
}

